<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
		<string>zh_Hans</string>
		<string>en</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Vnt App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>vnt_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>network-authentication</string>
		<string>network-extension</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>VNT聊天室需要访问同一虚拟组网内的设备以发现聊天室、发送消息和共享文件。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>VNT聊天室需要麦克风权限用于语音聊天。当前iOS端暂时仅支持查看对方屏幕共享。</string>
	<key>NSCameraUsageDescription</key>
	<string>VNT聊天室需要摄像头权限用于视频聊天。当前iOS端暂时仅支持查看对方屏幕共享。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>VNT聊天室需要读取相册以选择图片或视频进行共享。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>VNT聊天室需要保存接收的图片或视频文件。</string>
</dict>
</plist>
